<div class="results-block">
  <%= render "layouts/messages" %>
</div>

<% if @friends %>
<div class="card card-header results-block">
<table class="col-md-12">
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><strong>Name: </strong> <%= friend.full_name %></td>  
        <td><strong>E-mail: </strong> <%= friend.email %></td>
        <td><strong>Profile: </strong> <%= link_to "View", "",
                                        method: :post, class:"btn btn-sm btn-outline-success" %>
            <%= link_to "Follow?", "",
                method: :post, class:"btn btn-sm btn-outline-success" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
</div>
<% end %>